<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>

{{#each categorias}}
    <div >
        <div class="card-body">
            <h4>{{this.nome}}</h4>
            <small>{{this.slug}}</small><br>
            <a href="categorias/edit/{{_id}}"><button class="btn btn-success mt-4">Editar Categoria</button></a> 
        </div>
    </div>

{{else}}

{{/each}}
